/node_modules
.github

.DS_Store

/dist
/src
tests
coverage
/other

npm-debug.log*
yarn-debug.log*
yarn-error.log*

tsconfig.json
tsconfig.*.json
jest.json

.travis.yml
.prettier*
.eslintrc.json
.eslintignore
.npmrc
package-lock.json
yarn.lock
